target/
src/data/result/template_cisco.xml
src/data/result/template_juniper.xml
src/data/result_step1/template_cisco.xml
src/data/result_step1/template_juniper.xml
src/data/out/template_cisco.xml_SNMP_v1.xml
src/data/out/template_cisco.xml_SNMP_v2.xml
src/data/out/template_juniper.xml_SNMP_v1.xml
src/data/out/template_juniper.xml_SNMP_v2.xml
src/data/out/template_mikrotik.xml_SNMP_v1.xml
src/data/out/template_mikrotik.xml_SNMP_v2.xml
src/data/out/template_system_snmp.xml_SNMP_v1.xml
src/data/out/template_system_snmp.xml_SNMP_v2.xml
src/data/out/template_system_snmp_include_test.xml_SNMP_v1.xml
src/data/out/template_system_snmp_include_test.xml_SNMP_v2.xml
src/data/out/template_ubiquiti_airos.xml_SNMP_v1.xml
src/data/out/template_ubiquiti_airos.xml_SNMP_v2.xml
src/data/result_step1/template_mikrotik.xml
src/data/result_step1/template_system_snmp.xml
src/data/result_step1/template_system_snmp_include_test.xml
src/data/result_step1/template_ubiquiti_airos.xml
src/data/samples/mikrotik_old.xml
src/data/samples/template_snmp_generic.xml
src/data/out/
src/data/result_step1/template_ibm_imm.xml
