<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%-20.20c{2}[%-5p] %m%n}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
         <Logger name="org.springframework" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.curator" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Logger name="org.kie" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Logger name="org.drools" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Logger name="org.apache.camel" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.zabbix.template.generator" level="warn">
            <!-- <AppenderRef ref="Console"/> -->
        </Logger>

    </Loggers>
</Configuration>